.errorBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  text-align: center;

}

.errorText{
  color: #ff6060;
  font-weight: 500;
}

.errorLink{
  text-decoration: underline;
}