.errorBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  text-align: center;

}

.errorText{
  color: #ff6060;
  font-weight: 500;
}

.errorLink{
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .errorImg{
    width: 200px
  }

  .errorBody{
    height: 56vh;
  }
}