.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 20px;
  width: 80%;
  margin: 0 auto;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

li{
  color: #FF6060;
  list-style-type: none;
}

a{
  text-decoration: none;
}

a:visited{
  color: #FF6060
  ;
}

@media screen and (max-width: 768px){
  .logoHeader{
    width: 40%
  }

  ul{
    width: 50%;
  }
}